{% extends 'products/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>{% translate 'Заказы' %}</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">{% translate 'Статус' %}</th>
                            <th scope="col">{% translate 'Создан' %}</th>
                            <th scope="col">{% translate 'Итого' %}</th>
                            <th scope="col">{% translate 'Действие' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in object_list %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.get_status_display }}</td>
                                <td>{{ order.created|naturaltime }}</td>
                                <td>{{ order.basket_history.total_sum|intcomma }} {% translate 'руб.' %}</td>
                                <td>
                                    <a href="{% url 'orders:order' order.id %}">{% translate 'просмотреть' %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}